In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("train.csv")

In [42]:
test = pd.read_csv("test.csv")

In [4]:
sub = pd.read_csv("sample_submission.csv")

In [5]:
data.head(10)

,id,allelectrons_Total,density_Total,allelectrons_Average,val_e_Average,atomicweight_Average,ionenergy_Average,el_neg_chi_Average,R_vdw_element_Average,R_cov_element_Average,zaratio_Average,density_Average,Hardness
0,0,100.0,0.841611,10.000000,4.800000,20.612526,11.088100,2.766000,1.732000,0.860000,0.496070,0.91457,6.0
1,1,100.0,7.558488,10.000000,4.800000,20.298893,12.040830,2.755000,1.631000,0.910000,0.492719,0.71760,6.5
2,2,76.0,8.885992,15.600000,5.600000,33.739258,12.086300,2.828000,1.788000,0.864000,0.481478,1.50633,2.5
3,3,100.0,8.795296,10.000000,4.800000,20.213349,10.948500,2.648000,1.626000,0.936000,0.489272,0.78937,6.0
4,4,116.0,9.577996,11.600000,4.800000,24.988133,11.824480,2.766000,1.682000,0.896000,0.492736,1.86481,6.0
5,5,131.0,24.529328,21.833333,4.666667,50.131500,11.948200,2.858333,1.758333,0.896667,0.466388,2.94712,6.0
6,6,50.0,3.253996,10.000000,4.800000,20.077018,11.023840,2.727000,1.767000,0.880000,0.499010,0.80631,2.0
7,7,30.0,2.701748,6.000000,4.000000,11.663548,12.415840,2.766000,1.495000,0.710000,0.618493,0.41631,4.0
8,8,120.0,14.632000,12.000000,4.800000,24.808518,11.331820,2.870000,1.718500,0.910000,0.492736,1.96268,6.0
9,9,97.0,13.477328,12.812500,5.000000,24.988133,11.037175,2.818750,1.601250,0.881250,0.493192,1.10889,5.8

In [6]:
data[data.isna().any(axis=1)]

Empty DataFrame
Columns: [id, allelectrons_Total, density_Total, allelectrons_Average, val_e_Average, atomicweight_Average, ionenergy_Average, el_neg_chi_Average, R_vdw_element_Average, R_cov_element_Average, zaratio_Average, density_Average, Hardness]
Index: []

In [8]:
data.shape

(10407, 13)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10407 entries, 0 to 10406
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     10407 non-null  int64
 1   allelectrons_Total     10407 non-null  float64
 2   density_Total          10407 non-null  float64
 3   allelectrons_Average   10407 non-null  float64
 4   val_e_Average          10407 non-null  float64
 5   atomicweight_Average   10407 non-null  float64
 6   ionenergy_Average      10407 non-null  float64
 7   el_neg_chi_Average     10407 non-null  float64
 8   R_vdw_element_Average  10407 non-null  float64
 9   R_cov_element_Average  10407 non-null  float64
 10  zaratio_Average        10407 non-null  float64
 11  density_Average        10407 non-null  float64
 12  Hardness               10407 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 1.0 MB

In [11]:
data.describe()

,id,allelectrons_Total,density_Total,allelectrons_Average,val_e_Average,atomicweight_Average,ionenergy_Average,el_neg_chi_Average,R_vdw_element_Average,R_cov_element_Average,zaratio_Average,density_Average,Hardness
count,10407.00000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000,10407.000000
mean,5203.00000,128.053516,14.491342,17.033222,4.546789,37.507703,10.938308,2.607662,1.731330,0.944132,0.493349,2.132984,4.647126
std,3004.38646,224.123776,15.972877,10.468734,0.690864,26.012313,1.408276,0.334906,0.192481,0.180017,0.063080,1.936656,1.680525
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2601.50000,68.000000,7.558488,10.000000,4.000000,20.298893,10.590660,2.530000,1.672500,0.864000,0.476196,0.814800,3.000000
50%,5203.00000,100.000000,10.650000,12.600000,4.714286,26.203827,11.202760,2.706000,1.732727,0.915556,0.488550,1.351550,5.500000
75%,7804.50000,131.000000,16.676996,22.000000,4.800000,48.719500,11.670725,2.805000,1.800000,0.981667,0.496070,2.741550,6.000000
max,10406.00000,15300.000000,643.093804,67.000000,6.000000,167.400000,15.245810,3.443000,2.250000,1.615840,0.825990,10.970000,10.000000

In [12]:
data.nunique()[((data.nunique() == 1)|(data.nunique() == len(data)))]

id    10407
dtype: int64

In [15]:
my_new_data = data.drop(['id'],axis=1)

In [16]:
my_new_data

,allelectrons_Total,density_Total,allelectrons_Average,val_e_Average,atomicweight_Average,ionenergy_Average,el_neg_chi_Average,R_vdw_element_Average,R_cov_element_Average,zaratio_Average,density_Average,Hardness
0,100.0,0.841611,10.000000,4.800000,20.612526,11.088100,2.766000,1.732000,0.860000,0.496070,0.91457,6.0
1,100.0,7.558488,10.000000,4.800000,20.298893,12.040830,2.755000,1.631000,0.910000,0.492719,0.71760,6.5
2,76.0,8.885992,15.600000,5.600000,33.739258,12.086300,2.828000,1.788000,0.864000,0.481478,1.50633,2.5
3,100.0,8.795296,10.000000,4.800000,20.213349,10.948500,2.648000,1.626000,0.936000,0.489272,0.78937,6.0
4,116.0,9.577996,11.600000,4.800000,24.988133,11.824480,2.766000,1.682000,0.896000,0.492736,1.86481,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10402,128.0,7.558488,12.000000,4.000000,26.385218,11.330440,2.644000,1.631000,0.892000,0.496070,1.79607,4.0
10403,30.0,1.743160,10.000000,5.333333,20.766935,14.163933,3.090000,1.556667,0.866667,0.480390,0.81480,5.0
10404,196.0,30.920000,24.500000,5.500000,53.490297,10.074300,2.295000,1.545000,1.120000,0.469715,2.11540,1.8
10405,38.0,1.553160,12.666667,4.666667,26.621687,11.290033,2.743333,1.756667,0.980000,0.486507,0.77755,6.0
10406,288.0,24.655328,11.142857,4.571429,22.536126,10.960357,2.792143,1.772857,0.940000,0.493919,0.97737,6.5

In [17]:
data.value_counts()

id     allelectrons_Total  density_Total  allelectrons_Average  val_e_Average  atomicweight_Average  ionenergy_Average  el_neg_chi_Average  R_vdw_element_Average  R_cov_element_Average  zaratio_Average  density_Average  Hardness
0      100.0               0.841611       10.000000             4.800000       20.612526             11.088100          2.766000            1.732000               0.860000               0.496070         0.91457          6.0         1
6951   43.0                9.107996       11.300000             4.800000       24.808518             12.003400          2.828000            1.732000               0.864000               0.499196         1.08186          3.3         1
6933   46.0                9.133000       23.000000             4.000000       48.719500             9.877100           2.115000            1.900000               1.180000               0.478880         6.44467          2.0         1
6934   38.0                10.099324      12.666667             4.666667       26.621687             11.139867          2.743333            1.698333               0.890000               0.489507         1.06784          7.5         1
6935   108.0               7.876748       10.800000             4.700000       21.989312             11.360000          2.684000            1.743000               0.907200               0.491604         1.80256          6.0         1
                                                                                                                                                                                                                                       ..
3471   76.0                14.883996      27.600000             4.200000       65.565418             10.897260          2.675000            1.736000               0.945000               0.477854         3.26959          5.8         1
3472   202.0               22.812640      20.200000             6.000000       47.315423             15.245810          3.443000            1.738000               0.928000               0.475566         3.52219          3.0         1
3473   41.0                7.441332       13.666667             4.666667       27.951353             11.749633          2.855000            1.825000               0.896667               0.485033         1.70155          9.0         1
3474   60.0                8.836996       12.000000             4.800000       25.077338             12.301760          2.884000            1.654000               0.774000               0.491678         1.39322          4.3         1
10406  288.0               24.655328      11.142857             4.571429       22.536126             10.960357          2.792143            1.772857               0.940000               0.493919         0.97737          6.5         1
Length: 10407, dtype: int64

In [20]:
x= my_new_data.drop(['Hardness'],axis=1)
y = my_new_data['Hardness']

In [21]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [22]:
model = RandomForestRegressor()

In [30]:
model2 = LinearRegression()

In [34]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [35]:
model.score(x_test,y_test)

0.4665356390683938

In [36]:
import numpy as np
np.random.seed()
for i in range(10,101,10):
    print(f'trying model with {i} estimator')
    model=RandomForestRegressor(n_estimators=i).fit(x_train,y_train)
    print(f'model accuracy on test:{model.score(x_test,y_test)*100:0.2f}%')
    print(' ')

trying model with 10 estimator
model accuracy on test:41.07%

trying model with 20 estimator
model accuracy on test:44.49%

trying model with 30 estimator
model accuracy on test:45.92%

trying model with 40 estimator
model accuracy on test:44.60%

trying model with 50 estimator
model accuracy on test:45.20%

trying model with 60 estimator
model accuracy on test:46.07%

trying model with 70 estimator
model accuracy on test:46.29%

trying model with 80 estimator
model accuracy on test:46.40%

trying model with 90 estimator
model accuracy on test:46.62%

trying model with 100 estimator
model accuracy on test:46.50%

In [39]:
# print(train.isnull().values.any())
# print(test.isnull().values.any())

In [49]:
t = test.drop(['id'],axis=1)

In [50]:
sub["Hardness"]=model.predict(t)
sub.to_csv('submission.csv',index=False)
sub

         id  Hardness
0     10407    2.5970
1     10408    2.6860
2     10409    6.0340
3     10410    3.7820
4     10411    5.2535
...     ...       ...
6934  17341    5.2230
6935  17342    4.0000
6936  17343    4.7100
6937  17344    4.7300
6938  17345    2.8520

[6939 rows x 2 columns]

In [51]:
test_ids = test['id']
submission_preds=model.predict(t)

In [52]:
df = pd.DataFrame({"ID_LAT_LON_YEAR_WEEK":test_ids.values,"emission":submission_preds})

In [53]:
df

      ID_LAT_LON_YEAR_WEEK  emission
0                    10407    2.5970
1                    10408    2.6860
2                    10409    6.0340
3                    10410    3.7820
4                    10411    5.2535
...                    ...       ...
6934                 17341    5.2230
6935                 17342    4.0000
6936                 17343    4.7100
6937                 17344    4.7300
6938                 17345    2.8520

[6939 rows x 2 columns]

In [54]:
df.to_csv('submission2.csv',index=False)

In [56]:
sub["Hardness"]=model.predict(t)
sub.to_csv('submission.csv',index=False)